{% extends 'base.html' %}

{% block title %}My collection{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/collection/{{ id }}"><i class="fa-solid fa-box-archive"></i> Collection</a>
        <a href="/collection/{{ id }}/stats"><i class="fa-solid fa-chart-simple"></i> Statistics</a>
        {% if session['user_id'] %}
            <a href="/auth/logout" class="split"><i class="fa-solid fa-user-xmark"></i> Logout</a>
        {% else %}
            <a href="/auth/login" class="split"><i class="fa-solid fa-user-check"></i> Login</a>
            <a href="/auth/register" class="split"><i class="fa-solid fa-user-plus"></i> Register</a>
        {% endif %}
    </div>
{% endblock %}

{% block lead %}
    <div class="lead">
        <div class="lead-content">
            <h1>Collection management</h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if session['user_id'] %}
        <div class="collection-stats">
            <h1>General informations</h1>
            <p>Number of cards: <span>{{ count }}</span> </p>
            <p>Collection value: <span>{{ value }} €</span> </p>
            <a href="/collection/{{ id }}/create" class="crud-button">Add a card</a> 
        </div>
        
        <div class="collection">
            <!-- Table for cards management -->
            <div class="collection-content">
                <h1>My collection</h1>

                <form action="/collection/{{ id }}/search" method="post" class="search-bar">
                    <input type="text" name="keyword" placeholder="Search a card by name or code">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <table>
                    <tr>
                        <th>Code</th>
                        <th>Rarity</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Copies</th>  
                    </tr>
                    {% for card in cards %}
                        <tr>
                            <td> <a href="/collection/{{ id }}/{{card['code']}}/{{card['rarity']}}/update">{{ card['code']  }}</a> </td> 
                            <td>{{ card['rarity'] }}</td>
                            <td>{{ card['name'] }}</td>
                            <td>{{ card['price'] }}</td>
                            <td>{{ card['nbcopy'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- CSV form -->
            <div class="collection-content">
                <h1>Import cards from a CSV file</h1>
                <div class="form-container">
                    <form action="/collection/{{ id }}/import" method="post" enctype="multipart/form-data">
                        <label for="file"><i class="fa-solid fa-file-csv"></i> File: </label>
                        <input type="file" name="file" maxlength="100" required>
                        <div class="tooltip">CSV informations
                            <span class="tooltiptext">
                                Colums: code - rarity - name - price - copies
                                <br/>
                                Do not include colum names in file.
                            </span>
                        </div>
                        <input type="submit" value="Choose this file">
                    </form>
                </div> 
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block landing %}

    {% if not session['user_id'] %}
        <p>Landing page content.</p>
    {% endif %}

{% endblock %}