{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/collection/{{ id }}"><i class="fa-solid fa-box-archive"></i> Collection</a>
        <a href="/collection/{{ id }}/stats"><i class="fa-solid fa-chart-simple"></i> Statistics</a>
        {% if session['user_id'] %}
            <a href="/auth/logout" class="split"><i class="fa-solid fa-user-xmark"></i> Logout</a>
        {% else %}
            <a href="/auth/login" class="split"><i class="fa-solid fa-user-check"></i> Login</a>
            <a href="/auth/register" class="split"><i class="fa-solid fa-user-plus"></i> Register</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="bar-chart"></canvas>
        <canvas id="line-chart"></canvas>  
    </div>
    
    <script>
        new Chart(document.getElementById('bar-chart'), {
            type: 'bar',
            data: {
                labels: {{ labelsBar | tojson }},
                datasets: [
                    {
                        label: "Number of cards",
                        /* -- to change when rarities change --*/
                        backgroundColor: ["#012a4a", "#013a63", "#01497c", "#014f86", "#2a6f97", "#2c7da0", "#468faf", "#61a5c2", "#89c2d9", "#a9d6e5"],
                        data: {{ dataBar | tojson }} 
                    }
                ]  
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Number of cards by rarity'
                }
            }
        });


        new Chart(document.getElementById('line-chart'), {
            type: 'line',
            data: {
                labels: {{ labelsLine | tojson }},
                datasets: [
                    {
                        label: "Number of cards",
                        borderColor: "#3e95cd",
                        fill: false, 
                        data: {{ dataLineNum | tojson }}
                    },
                    {
                        label: "Collection value",
                        borderColor: "#8e5ea2",
                        fill: false,
                        data: {{ dataLineVal | tojson }} 
                    }
                ]  
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Evolution of collection value and number of cards'
                },
                hover: {
                    mode: 'index',
                    intersect: true
                }
            }
        });
    </script>
{% endblock %}