/* -- Custom fonts and variables -- */

@font-face {
    font-family: BlenderProBold;
    src: url("fonts/BlenderPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: BlenderProBook;
    src: url("fonts/BlenderPro-Book.ttf") format('truetype');
}

@font-face {
    font-family: Refinery;
    src: url("fonts/Refinery-25-Black.ttf") format('truetype');
}

:root {
    --yellow: #fcee0a;
    --blue: #00f0ff;
}


/* -- General -- */

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: BlenderProBold;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Refinery;
    color: white;
}


/* -- Base template -- */

.content {
    padding: 2%;
    background-color: black;
}

.footer {
    background-color: var(--yellow);
    padding: 10px;
}


/* -- Index -- */

.lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../static/images/lead-image.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden;

    h1 {
        margin: 0;
        color: #fff;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }
}

.lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.collection-stats {
    margin: 2%;

    span {
        color: var(--blue);
    }

    p {
        color: white;
        font-size: 22px;
    }
}

.crud-button {
    padding: 10px;
    border: 2px solid var(--blue);
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.crud-button:hover {
    color: black;
    background-color: var(--blue);
}

.collection {
    display: flex;
    flex-direction: row;
}

.collection-content {
    flex-direction: column;
    margin: 2%;
}

table, th, td {
    margin-top: 1%;
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr {
    background-color: white;
}

th {
    background-color: var(--blue);
    color: black;
}

a {
    text-decoration: none;
}


/* -- Forms: update a card and CSV upload -- */

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

    input, select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical; 
    }

    input[type=submit] {
        background-color: var(--blue);
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;    
    }

    input[type=submit]:hover {
        background-color: var(--yellow);
    }

    p {
        color: black;
        font-size: 16px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    } 

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
    
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
    
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


}

  
  


/* -- Return to main page -- */

.return a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.return a:hover {
    color: var(--blue);
}