/* --- Custom fonts --- */

@font-face {
    font-family: BlenderProBold;
    src: url("fonts/BlenderPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: BlenderProBook;
    src: url("fonts/BlenderPro-Book.ttf") format('truetype');
}

@font-face {
    font-family: Refinery;
    src: url("fonts/Refinery-25-Black.ttf") format('truetype');
}

:root {
    --yellow: #fcee0a;
    --blue: #00f0ff;
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: BlenderProBold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Refinery;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: var(--yellow);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}

/* Style the content */
.content {
    padding: 2%;
    background-color: black;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

table, th, td {
    margin-top: 1%;
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr{
    background-color: white;
}

th {
    background-color: var(--blue);
    color: black;
  }
