/* --- Custom fonts --- */

@font-face {
    font-family: BlenderProBold;
    src: url("fonts/BlenderPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: BlenderProBook;
    src: url("fonts/BlenderPro-Book.ttf") format('truetype');
}

@font-face {
    font-family: Refinery;
    src: url("fonts/Refinery-25-Black.ttf") format('truetype');
}

:root {
    --yellow: #fcee0a;
    --blue: #00f0ff;
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: BlenderProBold;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Refinery;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: var(--yellow);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}

/* Style the content */
.content {
    padding: 2%;
    background-color: black;
}

/* Style the footer */
.footer {
    background-color: var(--yellow);
    padding: 10px;
}

.crud-button {
    padding: 10px;
    border: 2px solid var(--blue);
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.crud-button:hover {
    color: black;
    background-color: var(--blue);
}

p, label {
    color: white;
    font-size: 20px;
}

table, th, td {
    margin-top: 1%;
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
}

tr {
    background-color: white;
}

th {
    background-color: var(--blue);
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input{
    width: 30%;
    background-color: antiquewhite;
    padding: 8px;
    margin: 5px;
}

input:focus {
    border: 3px solid var(--blue);
}

input[type=submit]{
    width: 5%;
    background-color: antiquewhite;
    padding: 8px;
    margin: 10px;
    font-size: 18px;
}
