{% extends 'base.html' %}

{% block title %}My collection{% endblock %}

{% block lead %}
    <div class="lead">
        <div class="lead-content">
            <h1>Collection management</h1>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if session['user_id'] %}
        <div class="collection">
            <!-- Table with collections -->
            <div class="collection-content">
                <h1>My collections</h1>

                {% if collections %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th> 
                        </tr>
                        {% for collection in collections %}
                            <tr>
                                <td><a href="/collection/{{ collection["id"] }}">{{ collection['name'] }}</a></td>
                                <td><a href="/delete/{{ collection["id"] }}" onclick="return confirm('Are you sure?');"><i class="fa-solid fa-square-minus"></i> Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No collections.</p>        
                {% endif %}
                
            </div>
            <!-- Creation form -->
            <div class="collection-content">
                <h1>Add a collection:</h1>

                <div class="form-container">
                    <form action="/create" method="post">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" required placeholder="My collection">
                        <input type="submit" value="Create this collection">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block landing %}

    {% if not session['user_id'] %}
        <p>Landing page content.</p>
    {% endif %}

{% endblock %}