{% extends 'base.html' %}

{% block title %}My collection{% endblock %}

{% block content %}
    <h1>My collection</h1>
    <p>Card number: <span>{{ count }}</span> </p>
    <p>Collection value: <span>{{ value }} €</span> </p>

    <a href="/create" class="crud-button">Add a card</a>

    <table>
        <tr>
            <th>Code</th>
            <th>Rarity</th>
            <th>Name</th>
            <th>Price</th>
            <th>Copies</th>  
        </tr>
        {% for card in cards %}
            <tr>
                <td> <a href="/{{card['code']}}/{{card['rarity']}}/update">{{ card['code']  }}</a> </td> 
                <td>{{ card['rarity'] }}</td>
                <td>{{ card['name'] }}</td>
                <td>{{ card['price'] }}</td>
                <td>{{ card['nbcopy'] }}</td>
            </tr>
        {% endfor %}

    </table>
    
{% endblock %}